*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	/*background-color:#643535; */
	font-family: "Palatino Linotype" , "Book Antiqua", Palatino, serif ;
	/* background-image: url(../images/logoImg.png); */

	background-image: -webkit-linear-gradient(
	    30deg, #643535 0%, pink 30%, white 50%, pink 80%, #643535 100%);
}

/* Hyperlink Styles: */

a, a:visited {
	color:#e30101;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Palatino Linotype" , "Book Antiqua", Palatino, serif ;
	text-shadow:0 1px 1px black;
}

header h1{
	text-shadow: -2px -2px 4px red;
}

header h3{
	text-shadow: -2px -2px 4px red;
}


h1{
	/* The logo text */
	font-size:4.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;  
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#4c2424;
	border-bottom:1px solid #714141;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#714141;
	border-bottom-color:#562020;
	margin:1.3em 0;
}

article .div2columns{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
article .div3columns{
	-moz-column-count:3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap:35px;
	-webkit-column-gap: 35px;
	column-column-gap: 35px;
	-moz-column-rule: 2px solid #714141;
	-webkit-column-rule: 2px solid #714141;
	column-rule: 2px solid #714141;

}


article .underConstr{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	
	border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#911717;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid #643535;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:1.12em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
	color: #643535;

}

footer a,footer a:visited{
	color: #643535;
	/*color:#cccccc;
	background-color:#643535;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;*/
}

footer a:hover{
	text-decoration:none;
	color:#cccccc;
	background-color:#301414;

}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
